{% extends 'base.html' %}
{% load form_tags %}
{% block content %}
<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-header bg-purple text-white">
      <h4 class="mb-0">Publish New Event</h4>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}
        
        <div class="col-md-6">
          <label for="id_title" class="form-label">Event Title</label>
          {{ form.title }}
        </div>

        <div class="col-md-6">
          <label for="id_category" class="form-label">Category</label>
          {% comment %}          {{ form.category|add_class:"form-select" }} {% endcomment%}
          <small>Or type a new one</small>
          {{ form.new_category|add_class:"form-control mt-1" }}
        </div>

        <div class="col-md-6">
          <label for="id_venue" class="form-label">Venue</label>
          {% comment %}          {{ form.venue|add_class:"form-select" }} {% endcomment %}
           <small>Or type a new one</small>
         {{ form.new_venue|add_class:"form-control mt-1" }}
       </div>

        <div class="col-md-6">
          <label for="id_artist" class="form-label">Artist</label>
          {% comment %}          {{form.artist|add_class:"form-select"}} {% endcomment %}
           <small>Or type a new one</small>
        {{ form.new_artist|add_class:"form-control mt-1" }}
        </div>

        <div class="col-md-6">
          <label for="id_date" class="form-label">Event Date</label>
          {{ form.date }}
        </div>

        <div class="col-md-3">
          <label for="id_start_time" class="form-label">Start Time</label>
          {{ form.start_time }}
        </div>

        <div class="col-md-3">
          <label for="id_end_time" class="form-label">End Time</label>
          {{ form.end_time }}
        </div>

        <div class="col-md-12">
          <label for="id_description" class="form-label">Description</label>
          {{ form.description }}
        </div>

        <div class="col-md-12">
          <label for="id_image" class="form-label">Upload Event Image</label>
          {{ form.image }}
        </div>
        <hr>
      <h5>Ticket Information</h5>

      <div class="col-md-6">
        <label for="id_ticket_type" class="form-label">Ticket Type</label>
        {{ ticket_form.ticket_type }}
      </div>

      <div class="col-md-3">
        <label for="id_price" class="form-label">Price (₦)</label>
        {{ ticket_form.price }}
      </div>

      <div class="col-md-3">
        <label for="id_quantity" class="form-label">Quantity</label>
        {{ ticket_form.quantity }}
      </div>

        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-purple">Publish Event</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
